table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 6px solid black;
  }
  
  thead th:nth-child(1) {
    border: none;
    width: 25%;
  }
  
  thead th:nth-child(2) {
    border: none;
    width: 35%;
  }
  
  thead th:nth-child(3) {
    border: none;
    width: 20%;
  }
  
  thead th:nth-child(4) {
    border: none;
    width: 20%;
  }

  thead th:nth-child(5) {
    border: none;
    width: 35%;
  } 
  
  th, td {
    padding: 20px;
  }


/*  Tipografia   */

html {
    font-family: 'Roboto', sans-serif;
  }
  
  thead th, tfoot th {
    font-family: 'Roboto', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  /* Colores */
thead, tfoot {
    color: black;
    text-shadow: 1px 1px 1px gray;
  }
  
  thead th {
    border: 3px solid black;
  }
  